
body
{
    background-color: white;
    text-align: center;
    border: solid #ECECEC;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 30px;
    margin-bottom: 200px;
    border-radius: 2%;
    padding: 5px;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}


h4
{
    text-align: center;
}

.create
{
    margin-bottom: 60px;
}

.gmail
{
    text-align: right;
    padding: 4px;
    display: inline;
}

.current_email
{
    text-decoration: none;
    text-decoration: #2a6cf1;
    
}

.password
{
    margin-left: 300px;
}


.show
{
    margin-top: 0px;
    margin-left: 2px;
    display: inline-flex;
}

.checkbox
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.end
{
    margin-top: 10px;
    margin-bottom: 10px;
}


.next
{
    margin-top: 5px;
    padding-left: 12px;
    padding-top: 8px;
    padding-right: 12px;
    padding-bottom: 8px;
    background-color: rgb(14, 151, 231);
    margin-left: 20px;
}
